<article class="content">
  <h2>HOT NEW</h2>
  <p>
    Thứ hai, 3/2/2020, 13:06 (GMT+7)
    236 ca nghi nhiễm nCov ở Việt Nam
    Việt Nam thêm một ca nhiễm nCoV tại Vĩnh Phúc, 236 người nghi viêm phổi trong khi một bệnh nhân ở Thanh Hóa khỏi
    bệnh được ra viện.

    Tính đến sáng 3/2, trong số 236 trường hợp nghi ngờ nhiễm bệnh có 163 ca kết quả xét nghiệm âm tính, 73 trường
    hợp tiếp tục cách ly theo dõi để ngăn lây nhiễm ra cộng đồng. Bộ Y tế định nghĩa trường hợp "nghi nhiễm" là
    người có dấu hiệu sốt, ho, đến từ vùng dịch.

    Vĩnh Phúc đang là tỉnh có số ca nhiễm bệnh viêm hô hấp do virus corona nhiều nhất. Các bệnh nhân đi chung một
    đoàn từ Vũ Hán về nước hôm 17/1.

    Sở Y tế Gia Lai hôm qua thông tin phát hiện một người trở về từ Trung Quốc có biểu hiện ho nhẹ, cách ly ở Khoa
    nhiệt đới, Bệnh viện Đa khoa tỉnh Gia Lai. Ông Nguyễn Đình Tuấn, Phó Giám đốc Sở Y tế Gia Lai, cho biết mẫu bệnh
    phẩm gửi đến Viện Pasteur xét nghiệm, ít nhất trong 48 giờ tới sẽ có kết quả.

    Ngày 2/2, bác sĩ Nguyễn Tri Thức, Giám đốc Bệnh viện Chợ Rẫy cho biết dự kiến trong tuần bệnh nhân Lizhichao
    (sinh năm 1992) có thể sẽ được xuất viện. Còn bệnh nhân LiDing (1954) đã ổn định, không sốt, không phải thở oxy,
    tự sinh hoạt, các xét nghiệm sinh hóa bình thường... nhưng vẫn cần theo dõi và chờ thêm kết quả xét nghiệm nCoV
    lần nữa.

    Nữ bệnh nhân là du học sinh trở về từ TP Vũ Hán cách ly tại Bệnh viện Đa khoa Quảng Nam vào chiều 31/1, đã có
    kết quả âm tính với nCoV và được chẩn đoán mắc cúm mùa. Bệnh viện đã thu xếp để bệnh nhân được xuất viện theo
    yêu cầu vào chiều nay.

    Theo Bộ Y tế, tính từ 7h đến 15h ngày 2/2, hai tổng đài đường dây nóng của Bộ Y tế, nơi tiếp nhận các thông tin
    về tình hình dịch bệnh viêm đường hô hấp cấp là 1900 3228 và 1900 9095 đã tiếp nhận 5511 cuộc gọi đến của người
    dân, đạt kết nối thành công 95%. Thời điểm cao nhất nhận 1.209 cuộc gọi một giờ. Hai đường dây nóng này hoạt
    động song song với các đường dây nóng của 21 bệnh viện có cơ sở theo dõi và điều trị cách ly các bệnh nhân nghi
    nhiễm và nhiễm nCoV.

    Dịch viêm phổi khiến nhiều bệnh viện khan hiếm máu điều trị. Ông Phạm Tuấn Dương, Phó Viện trưởng Huyết học -
    Truyền máu Trung ương, phụ trách Trung tâm Máu quốc gia, cho biết đến ngày 1/2, lượng máu dự trữ của Viện chỉ
    còn 6.700 đơn vị.

    Tình trạng khan hiếm máu điều trị cũng xảy ra tại TP HCM, Huế, Đà Nẵng, Cần Thơ... Theo lãnh đạo Bệnh viện
    Truyền máu Huyết học TP HCM - đơn vị cung cấp máu cho hầu hết bệnh viện ở TP HCM - lượng máu dự trữ của bệnh
    viện đến sáng 1/2 chỉ còn khoảng 4.000 đơn vị. Trong khi đó, nhu cầu sử dụng máu của các bệnh viện toàn thành
    phố sau kỳ nghỉ Tết tăng đột biến so với các năm trước, mỗi ngày cần 800 đến1.000 đơn vị máu.

    Đề phòng dịch nCoV, đến tối 2/2, 21 địa phương đã cho học sinh nghỉ học. Trong đó, 17 tỉnh thành cho nghỉ một
    tuần (3-9/2) gồm: Vĩnh Phúc, Thanh Hóa, Hà Nội, Long An, Kiên Giang, Bình Thuận, Cần Thơ, Sóc Trăng, Vĩnh Long,
    TP HCM, Hải Phòng, Bà Rịa - Vũng Tàu, Tây Ninh, Hà Giang, Hưng Yên, Lai Châu, Đồng Nai (riêng thành phố Biên Hòa
    nghỉ ngày 3-4/2).

    Đối với bậc đại học, 54 trường bắt đầu học lại sau Tết từ ngày 31/1 đến 4/2, chủ yếu là trường quân đội hoặc có
    lịch học an ninh quốc phòng. Riêng du học sinh Trung Quốc lùi đến ngày 17/2 và khuy
  </p>

</article>
<button class="btn btn-primary" (click)="comeBackHome()">Home</button>
